<div>

  <div>
    <div class="">
      <div class="otp-header">
        <div class="confirm__text">
          <!-- {{'app.confirm'| translate }} -->
          {{'CONFIRM'}}
        </div>

      </div>
      <div class="custom-container">

        <app-custom-otp [settings]="settings" (inputChange)="onInputChange($event)" (keydown)="keyDownFunction($event)">
        </app-custom-otp>
        <div class="confirm__mobile mt-5 center">
          <!-- {{ 'app.verificationcode' | translate: { userNumber:userMobileNumber } }} -->
          A six digit verification code has been sent to USERNUMBER
        </div>
        <div class="error-msg" *ngIf="submitted && (!enteredOtp || enteredOtp.length < settings.length)">
          <!-- {{ 'app.pleaseEnterValidOTP' | translate }} -->
          {{'Please enter a valid OTP'}}
        </div>
        <button id="continuebtn-confirmotp"
          class="primary__button cursor--pointer btn-center btn-custom-style w-100 mt-5" (click)="sendOtp()"
          type="submit">{{'Continue'|translate}}</button>
      </div>
      <div class="forgot-pin-text text-primary center cursor--pointer" id="forgot-text" type="submit"
        (click)="resendOtp()">
        <!-- {{ 'app.resend' | translate }} -->
        {{'RESEND VERIFICATION CODE'}}
      </div>

    </div>
  </div>

</div>