.main-header__logo {
    height: 75px;
}

*{
    outline: none!important;
    box-sizing: border-box;
}

.hdfc-logo {
    padding: 20px 0px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    height: 75px;
}