.overlay__container{
    padding: 0px !important;;
    max-width: 375px !important;
}
.signup-custom-overlay-wrapper ::ng-deep .custom__overlay{
    .overlay__container{
        padding: 0px !important;;
        max-width: 375px !important;
    }
    .overlay__template{
        padding: 0px 0px 15px 0px!important;
        margin: 0px!important;
        left: -270px !important;;
    }
}
@media (max-width: 767px){
    .signup__form ::ng-deep .error-msg{
        left:0px!important;
      }
   .otp-container{
       margin-left: 25px;
   }
   .signup-custom-overlay-wrapper ::ng-deep .custom__overlay{
      .overlay__template{
           left: 0px !important;;
        }
     }
   }

.logo-format {
    width: 50%;
    float: right;
}

.text-primary {
    color: #079AFF;
}

.w-500 {
    width: 500px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

@media (max-width: 767px){
    .w-500 {
        width: 370px !important;
    }
}

body {
    background: #fff;
    color: #666666;
    font-family: "SansProRegular";
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.poweredby-logo {
    top: 100px;
}

.cursor--pointer {
    cursor: pointer;
}
.poweredby-logo {
    position: absolute;
    right: 0;
}

.mt-10 {
    margin-top: 10px;
}