<section>
  <div class="font-styling font-color mt-100">
    <div>
      <h2>{{'Already have a AA Handle?'|translate}}</h2>
    </div>


    <div>
      {{'Enter your AA handle to place a consent request'|translate}}
    </div>
    <div>
      <input class="text-input-css p-0" type="text" id="aahandle" [(ngModel)]="aahandle" />
      <button class="primary-button primary-submit-btn cursor--pointer font-styling"
        type="submit">{{'Submit'|translate}}</button>
    </div>
    <div>
      <div class="mt-100">Don't have a AA handle, create one with Onemoney'</div>
      <div>
        <button class="primary-button primary-submit-btn cursor--pointer ml-0 font-styling"
          (click)="openSignupForm(aahandle)" type="submit">{{'Proceed'|translate}}</button>

      </div>

    </div>
  </div>


</section>